In [1]:
import pandas as pd
import numpy as np

In [2]:
# load data 
df = pd.read_csv('open-banking-data.csv')

In [3]:
df.head()

,Name,Value.accountId,cluster_name_adjusted,Value.amount.currencyCode,mrch_catg_rlup_nm2,Value.dates.booked,amount,Category
0,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,5/12/2023,3.73,entertainment
1,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,5/12/2023,3.73,entertainment
2,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,6/2/2023,4.39,entertainment
3,transactions,5a73582adf954cf6b3db6cc97bedccd9,Affluent Segment,GBP,AMUSEMENT PARKS/CIRCUS,6/2/2023,7.40,entertainment
4,transactions,6r88582adf954cf6b3db6cc97bedccd9,Urban Spenders,GBP,ART DEALERS & GALLERIES,7/14/2023,6.57,entertainment

In [4]:
df['mrch_catg_rlup_nm2'].unique()

array(['AMUSEMENT PARKS/CIRCUS', 'ART DEALERS & GALLERIES',
       'ARTIST/CRAFT SHOPS', 'AUTOMATED FUEL DISPENSERS',
       'AUTOMOTIVE TIRE STORES', 'BAKERIES', 'BANDS/ORCHESTRAS/ENTERTAIN',
       'BARS/TAVERNS/LOUNGES/DISCOS', 'BEAUTY/BARBER SHOPS',
       'BOOK STORES', 'BUS LINES', 'BUSINESS SERVICES - DEFAULT',
       'BUYING/SHOPPING SERVICES', 'CABLE, SAT, PAY TV/RADIO SVCS',
       'CATERERS', 'CHARITABLE/SOC SERVICE ORGS',
       'CHILDREN/INFANTS WEAR STORES', 'CIGAR STORES/STANDS',
       'COMMERCIAL EQUIPMENT - DEFAULT', 'COMPUTER SOFTWARE STORES',
       'CONTINUITY/SUBSCRIPTION MERCHT', 'COURIER SERVICES',
       'DENTISTS/ORTHODONTISTS', 'DEPARTMENT STORES',
       'DIGITAL GOODS BOOKSMOVIEMUSIC', 'DIGITAL GOODS GAMES',
       'DISCOUNT STORES', 'DRUG STORES & PHARMACIES',
       'ELECTRONICS STORES', 'FAMILY CLOTHING STORES',
       'FAST FOOD RESTAURANTS', 'FLORISTS', 'FREEZER/MEAT LOCKERS',
       'GIFT, CARD, NOVELTY STORES', "GOV'T SERV - DEFAULT",
       'GROCERY STORES/SUPERMARKETS', 'HARDWARE STORES',
       'HOME SUPPLY WAREHOUSE STORES', 'JEWELRY STORES',
       'LARGE DIGITAL GOODS MERCHANT', 'LOCAL COMMUTER TRANSPORT',
       'MED/HEALTH SERVICES - DEF', 'MEMBER CLUBS/SPORT/REC/GOLF',
       'MEMBER ORGANIZATIONS - DEF', 'MEN/BOYS CLOTHING/ACC STORES',
       'MENS/WOMENS CLOTHING STORES', 'MISC APPAREL/ACCESS STORES',
       'MISC FOOD STORES - DEFAULT', 'MISC GENERAL MERCHANDISE',
       'MISC PERSONAL SERV - DEF', 'MISC SPECIALTY RETAIL',
       'MOTION PICTURE THEATRES', 'NEWS DEALERS/NEWSSTANDS',
       'NURSERIES, LAWN/GARDEN SUPPLY', 'OPTICIANS',
       'OTHER DIRECT MARKETERS', 'PARKING LOTS,METERS,GARAGES',
       'PASSENGER RAILWAYS', 'PHOTOFINISH LABS/DEV', 'POSTAGE STAMPS',
       'PROFESSIONAL SERVICES - DEF', 'RECORD STORES',
       'RECREATION SERVICES', 'RESTAURANTS', 'SERVICE STATIONS',
       'SHOE STORES', 'SPORTING GOODS STORES',
       'SPORTS/RIDING APPAREL STORES', 'STATIONERY STORES',
       'STATIONERY/OFFICE SUPPLIES', 'TAX PAYMENTS',
       'TAXICABS/LIMOUSINES', 'TELECOMMUNICATION EQUIPMENT',
       'TELECOMMUNICATION SERVICES', 'THEATRICAL PRODUCERS',
       'TOURIST ATTRACTIONS AND XHBT', 'TRAVEL AGENCIES',
       'UTILITIES/ELEC/GAS/H2O/SANI', 'VARIETY STORES',
       'WOMENS READY TO WEAR STORES'], dtype=object)

In [12]:
elec_mask = ['TELECOMMUNICATION EQUIPMENT', 'DIGITAL GOODS BOOKSMOVIEMUSIC', 'DIGITAL GOODS GAMES', 'COMPUTER SOFTWARE STORES',
              'ELECTRONICS STORE', 'CABLE, SAT, PAY TV/RADIO SVCS', 'UTILITIES/ELEC/GAS/H2O/SANI']
mask = df['mrch_catg_rlup_nm2'].isin(elec_mask)
ch3 = df[mask]

TypeError: drop() takes from 1 to 2 positional arguments but 4 positional arguments (and 1 keyword-only argument) were given